<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="text-align: center">Tambah Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
      <ion-item class="item-input-inset">          
        <label class="item-input-wrapper">
          <input type="text" placeholder="cari barang">
        </label>
        <button class="button button-small button-positive">
          Cari
        </button><p></p>
        <button class="button button-small button-positive">
            <ion-icon style="#" name="add"></ion-icon>
          </button>
     </ion-item>
  </ion-list>
  <div class="item" align="center"><b> TAMBAH BARANG</b></div><br>
  <!-- <ion-content class="ion-padding"> -->
      <ion-item class="form-group">
          <ion-label position="stacked">
              Nama 
          </ion-label>
          <ion-input type="text" name="nama"></ion-input>
      </ion-item>
  
      <ion-item class="form-group">
          <ion-label position="stacked">
              Jumlah
          </ion-label>
          <ion-textarea name="deskripsi"></ion-textarea>
      </ion-item>
  
      <ion-item class="form-group">
          <ion-label position="stacked">
              Harga 
          </ion-label>
          <ion-input type="number" name="harga"></ion-input>
      </ion-item>
  
      <ion-row>
          <ion-col size="6" offset="3">
              <ion-button expand="block">
                  Simpan
              </ion-button>
          </ion-col>
      </ion-row>

<ion-content>
    <div id="menu-wripper">
    <div class="row-menu">
      <div class="home">
          <a href="#" class="btn-menu" routerLink="/home" routerDirection="forward">
              <span class="icon lh60">
                  <ion-icon style="font-size: 40px" name="home"></ion-icon>
              </span><br>
              <span class="text">
                  
              </span>
          </a>
      </div>
    </div>
  </div>
  
