<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p> -->
    
    <ul>
      <li *ngFor="let artikel of artikelList">
        {{ artikel.title }}
      </li>
    </ul>

    <!-- <div id="id-nya">
      <button class="btn" style="background-color: yellow">
        Button 1
      </button>
    </div>

    <button class="btn">
      Button 2
    </button> -->

  </div>
</ion-content>
