<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>PRODUCT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header" padding>
	<ion-list>
		<ion-item class="item item-avatar">
			<img src="../assets/img/a.jpg">
			<ion-label >   CANON IP2770</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/b.jpg">
			<ion-label >   EPSON L310</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/c.jpg">
			<ion-label >   HP 2135</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/d.jpg">
			<ion-label >   HP P1102</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/e.jpg">
			<ion-label >   HP P2015</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/f.jpg">
			<ion-label >   EPSON LX-310</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/g.jpg">
			<ion-label >   EPSON LQ-2190</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/h.jpg">
			<ion-label >   CANON LBP 6030</ion-label>
		</ion-item><p></p>
	</ion-list>
</ion-content>
