<ion-header>
  <ion-toolbar>
    <ion-title>
      My BlankApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-row>
            <ion-col>
                <div id="menu-wrapper">
                    <div class="row-menu">
                        <div class="col col-50">
                            <a href="#" class="btn-menu" routerLink="/login" routerDirection="forward">
                                <span class="icon lh60">
                                    <ion-icon name="wifi"></ion-icon>
                                </span>
                                <span class="text">
                                    Masuk
                                </span>
                            </a>
                        </div>
                        <div class="col col-50">
                            <a href="#" class="btn-menu" routerLink="/products" routerDirection="forward">
                                <span class="icon lh60">
                                    <ion-icon name="appstore"></ion-icon>
                                </span>
                                <span class="text">
                                    Barang
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>